<html>
<head>
	<title> Movie App </title>
</head>

<body>

<h1> Movie Info </h1>
 <p> This is your movie info <%= movie_title %>
 	<%= movie_year %>
 	<%= movie_director %>
 	<%= movie_plot %>
 	<%= movie_actors %> </p>
</body>
</html>